body { 
    position: relative;
    margin-top: 70px;
    font-family: 'Roboto Condensed', sans-serif;
}


.navbar-light .navbar-nav .nav-link {
    color: #003e6b;
    font-weight: bold;
    font-style: uppercase;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}


.navbar-light .navbar-nav .navbar-brand {
    color: #003e6b;
    font-weight: bold;
}

.navbar-light .navbar-brand:hover {
    color: #003e6b;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.active {
    color: 	#61a60e;
}

.navbar-light .navbar-nav .nav-item:hover {
    color: 	#61a60e;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.navbar-light .navbar-nav  .navbar-text {
    text-transform: uppercase;
    font-size: 0.9em;
}

#ZIPlogo {
    width:85px;
    height:35px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#ZIPlogo:hover {
    -webkit-filter: brightness(120%);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.content-container {
    width: 100%;
}

.carousel-opacity-container {
    width:100%;
    height:100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.6);
}

.carousel-caption1 {
    color: white;
    max-width: 100%;
    top: 20%;
}

.carousel-caption2 {
    color: white;
    max-width: 100%;
    top: 25%;
}

.carousel-caption3 {
    color: white;
    max-width: 100%;
    top: 20%;
}

.carousel-caption-header {
    font-family: 'Francois-One', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
  }

.carousel-caption-text {
    display: none;
    font-size: 0.4em;
}

#scrollToTopButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border-color: rgba(0,0,0,.1);
    background-color: #f8f9fa;
    width: 50px;
    height: 50px;
    color: rgba(0,0,0,.5);
    cursor: pointer; /* Add a mouse pointer on hover */ /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 50px; /* Increase font size */
    text-align: center;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  
  #scrollToTopButton:hover {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    background-color: darkgrey; /* Add a dark-grey background on hover */
    color: rgba(0,0,0,.4);
  }

.carousel-indicators li {
    border-radius: 4px;
    width: 4px;
    height: 4px;
  
}


.info-text-container {
    background-color: #61a60e;                
    color: white;
}


.info-header {
    font-size: 1.75em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.info-text {
    font-size: 1em;
    text-align: center;
}

.why-info-header {
    font-size: 1.15em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}


.feature-header-container {
    background-color: rgba(0,0,0,0.07);
    color: #003e6b;
}

.feature-list-container {
    background-color: rgba(0,0,0,0.07);
}

.feature-container {
    text-align: center;
    color: #003e6b;
    display:inline-block;
}

.feature-img-container {
    display: block;
}

.featureimgs {
    display: block;
    max-width: 25%;
}

.feature-header {
    text-transform: uppercase;
    font-size: 1.75em;   
}

.feature-text {
    font-size: 1em;
}

.planguages-text-content {
    text-align: center;
}


.plang-icon-container {
        vertical-align: middle;
        display:inline-block;
        margin-top: auto;
        margin-bottom: auto;
 
}

.plangicons {
    display: block;
    max-width: 5em;
    max-height: 4em;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}


.plangicons:hover {
    max-width: 5.5em;
    max-height: 4.5em;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}



.principles-header-container {
    background-color:  #003e6b;                
    color: white;
}

.past-works-list-container {

    background-color: rgba(0,0,0,0.07);

}

.past-work-container {
    text-align: center;
    color: #003e6b; 
}

.past-work-img-container {
    display: inline-block;
}


.pworkimgs {
    max-width: 90%;
    opacity: 0.9;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}


.past-work-img-container img:hover {
    box-shadow: 0 1px 8px black; 
    opacity: 1;
    max-width: 93%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
 }

.past-work-header {
    text-transform: uppercase;
    font-size: 2em; 
}

.past-work-container a {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    color: #003e6b; 
}


.past-work-container a:hover {
    color: 	#61a60e;
    font-size: 1.05em;
    text-decoration: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.past-work-container a:visited {
  
}

.textfield-background {
    background-color: #61a60e;
}

.div-highlight {
    background-color: lightblue;
}

.div-highlight2 {
    background-color: orange;
}

.contact-container {
    color: white;
    background-color:#61a60e;
}

.contact-header-container {
    text-align: center;
    padding-bottom: 2%;
}

.contact-header-text {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.contact-content-text {
    font-size: 2.5em;    
}


.mail-response-text {
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    font-weight: bold;
}

.contact-label-text {
    font-size: 1.5em;
}


.contactForms {
    text-align: center;
   
}

.inputFieldsContainer {
max-width: 100%;
}

.messageDiv {
 max-width: 100%;
}

.contact-message-container {
    max-width: auto;
}

.contactButtonDiv {
    text-align: center;
    margin: auto;
}

.inputMessage {
    font-size: 1em;
}


.btn-contact {
    background-color: white;
    border-color: none;
    border-width: 0;
    font-weight: bold;
    vertical-align: middle;
    border: none;
    color: #003e6b;
    font-size: 1.4em;
}

.btn-contact:hover {
    background-color: #003e6b;
    border-color: none;
}

.btn-return {
    color: white;
    background-color: #003e6b;
    border: solid;
    border-width: 0.1em;
    border-color: #003e6b;
    
}

.btn-return:hover {
    background-color: white;
    border: solid;
    border-width: 0.1em;
    color: #003e6b;
    border-color: #003e6b;
}

.btn-return:active {
    background-color: white;
    border: solid;
    border-width: 0.1em;
    color: white;
    opacity: 100%;
}

.form-text {
    font-size: 0.9em;
}

.form-control::placeholder {
    color:  #003e6b;
}

.contact-hint-text {
text-align: center;
margin-top: 1em;
margin-left: auto;
margin-right: auto;
}


.faq-list-content {
    font-size: 1.2em;
    text-align: left;
}

.faq-question {
    font-weight: bold;
}

.qa-list-content {
    font-size: 1.2em;
    text-align: left;
}

.tos-text-container {  
    text-align: center; 
    line-height: 2.2em;
    font-size: 1.1em;
}

.business-info-text-container {
    font-size: 1.2em;
}

input {
    text-align: center;
}

footer {
    color: white;
    background-color: #2b2b2b;
    text-align: center;
    font-size: 1.15em;
    margin-left: auto;
    margin-right: auto;
}

footer a {
    color: white;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

footer a:visited {
    color: white;
    
}

footer a:hover { 
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    color: #61a60e;      
}

#cookieConsent {
    background-color: rgba(248,249,250, .9);
    color: #003e6b;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
    min-height: 20%;
}

#cookieConsent p {
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 0.5em;
    text-align: center; 
    font-size: 1.2em;
}

#cookieConsent a {
    color: #0077cc;
    text-decoration: none;
}

#cookieConsent a:hover {
    color: #61a60e;
    text-decoration: none;
}

#cookieConsent #cookieConsentOK {
    background-color:  #003e6b;
    color: white;
    border-color:  #003e6b;
    border-width: 0px;
    border-radius: 5px;
    margin-left: 15%;
    margin-top: 15%;
    font-size: 1.75em;
    font-weight: bold;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    cursor: pointer;
}

#cookieConsent #cookieConsentOK:hover {
    background-color: #61a60e;
}

@media (min-width: 410px) {
    #cookieConsent #cookieConsentOK {
        margin-left: 20%;
        margin-top: 15%;
        font-size: 1.75em;
        font-weight: bold;
        padding-left: 3em;
        padding-right: 3em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}

@media (min-width: 410px) {
    #cookieConsent #cookieConsentOK {
        margin-left: 20%;
        margin-top: 15%;
        font-size: 1.75em;
        font-weight: bold;
        padding-left: 3em;
        padding-right: 3em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}

@media (min-width: 440px) {

    .carousel-caption1 {
        top: 30%;
    }
    
    .carousel-caption2 {
        top: 30%;
    }
    
    .carousel-caption3 {
        top: 30%;
    }

    .carousel-caption-header {
        font-size: 1.5em;
      }

      #cookieConsent p {
        margin-left: 3em;
        margin-right: 3em;
        margin-bottom: 0.5em;
        text-align: center; 
        font-size: 1.2em;
    }

      #cookieConsent #cookieConsentOK {
        margin-left: 22%;
        margin-top: 15%;
        font-size: 1.75em;
        font-weight: bold;
        padding-left: 3em;
        padding-right: 3em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

}


@media (min-width: 576px) {

    #ZIPlogo {
        
        width: 100px;
        height: 40px;
    }

    .navbar-light .navbar-nav  .navbar-text {
        font-size: 0.8em;
    }

    .carousel-caption1 {
        top: 32%;
    }
    
    .carousel-caption2 {
        top: 32%;
    }
    
    .carousel-caption3 {
        top: 32%;
    }

    .carousel-caption-header {
        font-size: 2em;
      }
    
    .carousel-caption-text {
        font-size: 0.75em;
    }

    .carousel-indicators li {
        border-radius: 6px;
        width: 6px;
        height: 6px;
    }


    .contact-hint-text {
        text-align: right;
        margin-top: 1em;
        margin-right: 0;
        margin-left: auto;
        }

    #scrollToTopButton {
        bottom: 20px; 
        right: 30px;
        width: 40px;
        height: 40px;
        border-radius: 50%; 
        font-size: 40px;
}


#cookieConsent #cookieConsentOK {
    margin-left: 33%;
    margin-top: 5%;
    font-size: 1.75em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


}


@media (min-width: 768px) {

    #ZIPlogo {
        width: 110px;
        height: 45px;
    }

    .navbar-light .navbar-nav  .navbar-text {
        font-size: 1em;
    }

    .carousel-caption1 {
        text-align: left;
        max-width: 30%;
        top: 15%;
    }
    
    .carousel-caption2 {
        text-align: left;
        max-width: 30%;
        top: 15%;
    }
    
    .carousel-caption3 {
        text-align: left;
        max-width: 30%;
        top: 15%;
    }
    
    .carousel-caption-header {
        font-size: 1.8em;
      }
    
    .carousel-caption-text {
        display: block;
        margin-top: 10%;
        font-size: 0.9em;
        
    }

    .info-header {
        max-width: 90%;
        font-size: 2.25em;
    }
    
    .info-text {
        max-width: 90%;
        font-size: 1em;
    }

    .message-info-text {
        min-width: 100%;
    }
    
    .why-info-header {
        font-size: 1.15em;
    }
    
    .plangicons {
        display: block;
        max-width: 5em;
        max-height: 4em;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }

    .plangicons:hover {
        max-width: 5.5em;
        max-height: 4.5em;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }

    .why-info-header {
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    }


    .feature-header {
        font-size: 2em; 
    }
    
    .feature-text {
        font-size: 1.1em;
    }

    .why-info-header {
        font-size: 1.35em;
    }

    .inputFieldsContainer {
        max-width: 80%;
        }

    .tos-text-container {   
        line-height: 2.2em;
        text-align: left;
        
    }

    #scrollToTopButton {
        bottom: 20px; 
        right: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50%; 
        font-size: 50px;
    }

    #cookieConsent {
        min-height: 26px;
        color: #003e6b;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
        z-index: 9999;
    }

    #cookieConsent p {
        font-size: 1em;
        margin-left: 2em;
        float: left;
        text-align: justify;
    }


    #cookieConsent #cookieConsentOK {
        background-color:  #003e6b;
        color: white;
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 7px;
        font-size: 1.4em;
        padding: 10px 30px;
        float: right;
        margin-right: 1em;
    }

}

@media (min-width: 992px) {

    #ZIPlogo {
        width: 120px;
        height: 50px;
    }

    .navbar-light .navbar-nav  .navbar-text {
        font-size: 1.2em;
    }

    .carousel-caption1 {
        top: 20%;
    }
    
    .carousel-caption2 {
        top: 20%;
    }
    
    .carousel-caption3 {
        top: 20%;
    }

    .carousel-caption-header {
        font-size: 2em;
      }
    
    .carousel-caption-text {
        font-size: 1em;
    }


    .info-header {
        font-size: 2.5em;
    }
    
    .info-text {
        font-size: 1.25em;
    }
    
    .why-info-header {
        font-size: 1.35em;
    }
    
    #scrollToTopButton {
        bottom: 20px; 
        right: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50%; 
        font-size: 50px;
}


}

@media (min-width: 1200px) {

    #ZIPlogo {
        width: 170px;
        height: 70px;
    }

    .navbar-light .navbar-nav  .navbar-text {
        font-size: 1.5em;

    }

    .carousel-caption1 {
        top: 27.5%;
    }
    
    .carousel-caption2 {
        top: 27.5%;
    }
    
    .carousel-caption3 {
        top: 27.5%;
    }

    .carousel-caption-header {
        font-size: 2.5em;
      }
    
    .carousel-caption-text {
        font-size: 1.25em;
    }

    .carousel-indicators li {
        border-radius: 12px;
        width: 12px;
        height: 12px;
      
    }

    .info-header {
        max-width: 75%;
    }
    
    .info-text {
        max-width: 75%;
    }

    .why-info-header {
        font-size: 1.5em;
    }

    #cookieConsent p {
        font-size: 1.2em;
        margin-left: 3.5em;
    }


    #cookieConsent #cookieConsentOK {
        font-size: 1.6em;
        padding: 10px 30px;
        margin-right: 2em;
    }

    
}


@media (min-width: 1680px) {

    #ZIPlogo {
        width: 200px;
        height: 80px;
    }

    .navbar-light .navbar-nav  .navbar-text {
        font-size: 1.75em;

    }

    .carousel-indicators li {
        border-radius: 16px;
        width: 16px;
        height: 16px;
      
    }

    .carousel-caption1 {
        top: 30%;
    }
    
    .carousel-caption2 {
        top: 30%;
    }
    
    .carousel-caption3 {
        top: 30%;
    }

    .carousel-caption-header {
        font-size: 3em;
      }
    
    .carousel-caption-text {
        font-size: 1.5em;
    }

    #scrollToTopButton {
        bottom: 20px; 
        right: 30px;
        width: 70px;
        height: 70px;
        border-radius: 50%; 
        font-size: 70px;
}

}



@media (min-width: 2800px) {

    #ZIPlogo {
        width: 360px;
        height: 140px;
    }

    .navbar-light .navbar-nav  .navbar-text {
        font-size: 3em;
    }
    
    .carousel-indicators li {
        border-radius: 32px;
        width: 32px;
        height: 32px;
      
    }

    .info-text {
        font-size: 1.25em;
    }
    
    .why-info-header {
        font-size: 1.35em;
    }

    #scrollToTopButton {
        bottom: 20px; 
        right: 30px;
        width: 140px;
        height: 140px;
        border-radius: 50%; 
        font-size: 140px;
}


}
